tt {
  font-size: 130%;
}

.api {
  text-align: justify;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: gray;
  margin-top: 12px;
}

.api .api-signature {
  font-size: 1.5em;
  color: #006600;
  text-align: left;
}

.api-index {
  list-style-type: none;
}

.api .api-example {
  color: #333333;
  font-size: 1.3em;
  display: none;
}

.conflict {
  color: #990000;
}

.required {
  color: #0099ff;
}

.download {
  text-align: center;
}
.download a {
  font-size: 150%;
}

.example-button {
  color: #ff6600;
  font-size: 90%;
  background: transparent;
  border-style: hidden;
}

/* @group General Styles */

body {
	text-align: center;
	font: 0.85em "Lucida Grande", Arial, Helvetica, Swiss, SunSans-Regular;
	background: url(images/body_bg.png) repeat;
	margin: 20px;
	color: #2b2b2b;
	padding: 0;
}

p {
}

b, strong {

}

a:link, a:visited {
	color: #056ace;
	text-decoration: none;
}

a:hover, a:active {
	color: #0583ff;
}

img {

}

.image-left {
	float: left;
	margin: 3px 3px 3px 0;
	padding: 3px 3px 3px 0;
}

.image-right {
	float: right;
	margin: 3px 0 3px 3px;
	padding: 3px 0 3px 3px;
}
	
/* @end */

/* @group Layout */

#container { 
	width: 800px;
	margin: 0px auto;
	text-align: justify;
	background: #fff;
}

.clearer {
	clear: both;
}

#pageHeader {
	text-align: left;
	width: 800px;
	margin: 0 auto;
	height: 93px;
	background: url(images/header_bg.png) no-repeat;
	position: relative;
}

#pageHeader img {

}

#pageHeader h1 {
	color: #ffffff; 
	font-size: 2.2em; 
	text-shadow: 0px 1px 3px #000000;
	display: inline;
	margin: 0 0 0 20px;
}

#pageHeader h2 {
	color: #ffffff; 
	font-size: 1.2em; 
	text-shadow: 0px 1px 3px #000000;
	display: inline;
	margin: 0 20px 0 0;
}

#contentContainer {
	background: #ffffff;
	margin-top: -3px;
}

#contentTop {
	width: 800px;
	height: 14px;
	background: no-repeat url(images/content_top.png);
}

#contentBottom {
	margin: 0 auto;
	width: 800px;
	height: 14px;
	background: url(images/content_bottom.png) no-repeat;
}

#contentContainer #content {
	margin-right: 150px;
	padding: 10px 20px;
	position: relative;
	z-index: 0;
}

#sidebarContainer {
	width: 150px;
	position: relative;
	z-index: 10;
}

#sidebarContainer #sidebar {
	padding: 10px 10px 10px 0;
}

#sidebarContainer .sideHeader {
	color: #0065d1;
	font-weight: bold;
	font-size: 1em; 
	text-shadow: none;
	margin: 0;
}

#footer { 
	color: #ffffff;
	text-align: center;
}

#footer p {
}

#footer a:link, #footer a:visited {

}

#footer a:hover, #footer a:active {
}
	
/* @end */

/* @group Bread-crumb */

#breadcrumbcontainer {
}

#breadcrumbcontainer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {

}

#breadcrumbcontainer a:hover {

}
	
/* @end */

/* @group Toolbar */

/* Toolbar Styles */

#navcontainer {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
}

#navcontainer #current {
	color: #ffffff; 
}

#navcontainer #current:hover {
}

#navcontainer .currentAncestor {
	color: #ffffff; 
}

/* Parent - Level 0 */

#navcontainer ul{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#navcontainer li {
	display: inline;
}

#navcontainer a {
	color: #90c1ef;
	margin-right: 10px;
}

#navcontainer a:hover {
	color: #ffffff; 
}

#navcontainer a:active {
}

/* Child - Level 1 */

#navcontainer ul ul {
	position: absolute;
	left: 0;
	top: 28px;
}

#navcontainer ul ul li {
}

#navcontainer ul ul a {
	font-size: 0.9em;
}

#navcontainer ul ul a:hover{
}

#navcontainer ul ul #current{
}

/* Child - Level 2 */

#navcontainer ul ul ul {

}

#navcontainer ul ul ul li { 
}

#navcontainer ul ul ul a{
}

#navcontainer ul ul ul a:hover{

}

/* Child Level 3 */

#navcontainer ul ul ul {
	display: none;
}

/* @end */

/* @group Global Classes */

blockquote, .standout {
}

h1 {
	color: #0065d1; 
	font-size: 2.2em; 
	text-shadow: 0px 1px 3px #000000;
}

h2 {
	color: #0065d1; 
	font-size: 2em; 
	text-shadow: 0px 1px 3px #000000;
}

h3 {
	color: #0065d1; 
	font-size: 1.8em; 
	text-shadow: 0px 1px 3px #000000;
}

h4 {
	color: #0065d1; 
	font-size: 1.6em; 
	text-shadow: 0px 1px 3px #000000;
}

.imageStyle {

}

/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
	margin: 10px 0;
	padding: 0;
}

#sidebarContainer #sidebar li {
}

/* Table Styles */
table {
	font-size: 1em;
}
	
/* @end */

/* @group Blog */

/* @group Tag Cloud */
ul.blog-tag-cloud {
	margin: 0 0 10px;
	padding: 0 10px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {	
	font-size: 0.8em;
}

.blog-tag-size-2 {	
	font-size: 0.85em;
}

.blog-tag-size-3 {	
	font-size: 0.9em;
}

.blog-tag-size-4 {	
	font-size: 0.95em;
}

.blog-tag-size-5 {	
	font-size: 1em;
}

.blog-tag-size-6 {	
	font-size: 1.05em;
}

.blog-tag-size-7 {	
	font-size: 1.1em;
}

.blog-tag-size-8 {	
	font-size: 1.15em;
}

.blog-tag-size-9 {	
	font-size: 1.2em;
}

.blog-tag-size-10 {	
	font-size: 1.25em;
}

.blog-tag-size-11 {	
	font-size: 1.3em;
}

.blog-tag-size-12 {	
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {	
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {	
	font-size: 1.55em;
}

.blog-tag-size-17 {	
	font-size: 1.6em;
}

.blog-tag-size-18 {	
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {	
	font-size: 1.75em;
}

/* @end */

/* @group Archive Page */

.blog-archive-background {
}

.blog-entry-summary {
	margin-bottom: 10px;
}

.blog-archive-headings-wrapper {
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}

.blog-archive-month {
	font-size: 2.2em; 
}

.blog-archive-link { 
	font-size: 1.2em; 
	margin-bottom: 15px;
}

.blog-archive-link a:link, .blog-archive-link a:visited {
}
	
/* @end */

.blog-entry {
	margin-bottom: 30px;
}

.blog-entry-title {
	color: #0065d1; 
	font-size: 2.2em;
	text-shadow: none;
	margin: 0;
	font-weight: normal;
}

.blog-entry-title a {
	color: #0065d1; 
}

.blog-entry-date {
	font-size: 0.95em;
	color: #b3b3b3;
	margin-bottom: 10px;
}

.blog-read-more {
	display: block;
	padding-top: 10px;
	font-style: italic;
}

.blog-entry-body {
}

.blog-entry-comments {
	font-size: 0.95em;
	padding-top: 10px;
}

/*styles the category link in the main entry */
.blog-entry-category {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}



/* styles the archives in the blog sidebar */
#blog-archives {
	margin-bottom: 10px;
}

.blog-archive-link-enabled {
}

.blog-archive-link-disabled {
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
	margin-bottom: 10px;
}

.blog-category-link-enabled {
}

.blog-category-link-disabled {
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-bottom: 10px;
}

.blog-rss-link {
}

.blog-comments-rss-link {
}

/* @end */

/* @group File Sharing */

.filesharing-description {
}

.filesharing-item {
  font-size: 150%;
}

.filesharing-item-title a:link {
}

.filesharing-item-title a:hover {
}

.filesharing-item-title a:visited {

}

.filesharing-item-description {
	font-size: 0.95em;
	color: #b3b3b3;
	margin-bottom: 10px;
}

/* @end */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
	color: #0065d1; 
	font-size: 2.2em;
}

.album-description {
	font-size: 0.95em;
	color: #b3b3b3;
	margin-bottom: 70px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 10px;
}

.thumbnail-frame {
	position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
	margin: auto;
    border: none;
}

.thumbnail-caption {
	font-size: 0.95em;
	color: #b3b3b3;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	display: block;
}
	
/* @end */

/* @group Single Page (Photo view) */

.photo-background {
}

.photo-navigation {
	width: 560px;
	height: 63px;
	background: url(images/header_bg.png) no-repeat center top;
	padding-top: 3px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px auto 30px; /* Right And Left Margin Widths To Auto */
	text-align: justify; /* Hack To Keep IE5 Windows Happy */
}

.photo-links {
	margin: 6px 0 0 0;
}

.photo-navigation a:link, .photo-navigation a:visited {
	color: #ffffff;
}

.photo-navigation a:hover {
	text-decoration: underline;
}

.photo-frame{
	border: 5px solid #ffffff;
}

.photo-title {
	color: #ffffff; 
	font-size: 2em; 
	font-weight: bold;
	text-shadow: 0px 1px 3px #000000;
	display: inline;
	margin: 0;
}

.photo-caption {
	color: #ffffff; 
	font-size: 1em; 
	font-weight: bold;
	text-shadow: 0px 1px 3px #000000;
	display: inline;
	margin: 0;
}

/* @group EXIF data */
/* Data wrapper */
.exif-data {
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-pixel-x-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}

/* @end */

/* @end */
	
/* @end */

/* @group Quicktime Page */

.movie-description {

}
	
/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	color: #0065d1; 
	font-size: 2.2em;
}

.movie-page-description {
	font-size: 0.95em;
	color: #b3b3b3;
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	width: 132px;
	height: 132px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
}

.movie-thumbnail-caption {
}
	
/* @end */

/* @group Single Page (Movie View) */

.movie-background {
}

.movie-title {
}

.movie-frame {

}
	
/* @end */


/* @end */

/* @group Contact Form */
.message-text { 
} 

.required-text {
} 

.form-input-field {
} 

.form-input-button { 
} 
/* @end */


